


.container { 
    max-width: 600px;
    margin: 2rem auto;
    padding: 1.5rem;

    background-color: #f9f9f9;
    border-radius: 10px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title {
    text-align: center;
    margin-bottom: .25rem;
}

.subtitle {
    text-align: center;
    color: #777;
    margin-bottom: 1.5rem;

}